body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dfdfdf;
    padding: 0;
    margin-top: 50px;
    display: grid;
    justify-items: center;
    gap: 30px;
}

p {
    font-size: 18px;
}

.menu {
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    background-color: white;
    padding: 15px 30px;
    border-radius: 4px;
    color: black;
}

img {
    max-width: 100%;
    display: block;
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}

.introducao {
    display: grid;
    background-color: white;
    text-align: right;
    padding: 20px;
    align-content: center;
    justify-items: end;
}

.botao {
    text-decoration: none;
    background-color: #e21;
    color: white;
    padding: 15px;
    border-radius: 4px;
}

.subtitulo {
    font-size: 60px;
    text-align: right;
    padding: 20px;
    align-self: center;
    color: rgb(112, 112, 112);
}

.vantagens {
    background: #fff;
    padding: 40px;
}
  
.vantagens-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 20px;
  }
  
  .vantagens-item p {
    grid-column: 2;
  }

p,
h1,
h2,
h3 {
  margin: 0px;
}

.rodape {
    margin-top: 30px;
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 20px;
    
}


